body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000428 , #004e92); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000428 , #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  text-align: center;
  margin-left: 20px;
}

.main > *{
  padding: 9px;
  border: 1px black solid;
}

#tab-new-receipt{
  background: #CCCCB2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CCCCB2 , #757519); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CCCCB2 , #757519); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%
}

.query-area{
  text-align: center;
  margin: 5px;
}

.tab-get-receipt-data{
  background: white;
}

#tab-get-statistics{
  background: white;
}

.tab-view > * {
  display: block;
} 
.tab-view-inactive {
  display: none;
}

.btn-send{
  margin-top: 5px;
  height: 25px;
  width: 100px;
}

.ProductsTable{border: 1px solid black;
  background: white;
  width: 50%;
  margin: 10px;
  table-layout: fixed;
}

.titleStyle{
  color: white;
  background: gray;
  width: 25%;
}

.title{
  color: white;
}

.titleCell{
  width: 25%;
}

.tableTitleStyle{
  border-spacing: 0px;
  padding: 1px;
  border: 1px solid black;
  width: 685px;
}

.MainProductTable{
  border-spacing: 0px;;
  padding: 0px;
  width: 685px;
  margin-top: 5px;
}

.ProductTableDivStyle{
  width: 685px;
  height: 100px;
  overflow: auto;
}

.TableBodyStyle{
  border-spacing: 0px;
  padding: 1px;
  width: 685px;
  border: 1px solid black;
}

#btn-addProduct{
  width: 72Px;
  height: 25px;
}

#btn-Clean{
  margin-top: 5px;
  height: 25px;
  width: 100px;
}

.txt-general{
  width: 200px;
}